name: Publish to NuGet

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.x"

      - name: Restore dependencies
        run: dotnet restore Farsight.Common.slnx

      - name: Build the project
        run: dotnet build Farsight.Common.slnx --configuration Release --no-restore -warnaserror

      - name: Pack the project
        run: dotnet pack src/Farsight.Common --configuration Release --no-build --output ./nupkgs

      - name: Publish to NuGet
        env:
          API_KEY: ${{ secrets.NUGET_API_KEY }}
        shell: bash
        run: dotnet nuget push ./nupkgs/*.nupkg --source https://api.nuget.org/v3/index.json --api-key "$API_KEY" --skip-duplicate
